<%- include("partials/header.ejs") %>

<div class="container main">



<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
        <label class="list-group-item d-flex gap-3" style="background-color: #ACFADF;">
            <h1 class="heading"><%= day %>,
                <%= date %>
                <%= month %>
            </h1>
        </label>

        <label class="list-group-item d-flex gap-3">
            <form action="/submitMain" method="post">
                <input class="head" type="text" value="" style="font-size: 1.375em;" name="todayList" placeholder="Add new Task">
                    <button class="btn btn-primary rounded-circle p-2 lh-1 my-btn" type="submit" width="16" height="16" >+
                    </button>
                </span>
            </form>
        </label>

        <%# if (taskList.length >= 1) { %>
        <% taskList.forEach(task => { %>
            <label class="list-group-item d-flex gap-3">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content">
                        <strong class="task"><%= task.name %></strong>
                    </span>
                </label>
            <% }); %>
        <%# } %>
        </div>
    </div>
</div>

    <%- include("partials/footer.ejs") %>
